{{ define "main" }}
    <div class="flex flex-col mx-auto mt-5 w-full">
        {{ range .Pages }}
            <article class="prose text-gray-900 justify-self-center sm:px-4 md:px-0 lg:prose-lg min-w-3/4 mx-auto mb-4">
                <div class="flex w-full justify-between items-center">
                    <div class="flex flex-col">
                        <a class="lowercase no-underline text-slate-800" href="{{ .RelPermalink }}">{{ lower .Title }}</a>
                        <span class="text-fg text-sm"> {{ .Params.Date | time.Format ":date_long" }} </span>
                    </div>
                    <span class="text-fg text-sm">Reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes.</span>
                </div>
                <div>
                    <p class="text-sm text-fg">
                        {{ .Summary }}
                    </p>
                </div>
            </article>
        {{ end }}
    </div>
{{ end }}
